---
name: Test
on:
    merge_group:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
    push:
        branches:
            - main
        tags:
            - "*"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        name: test with ${{ matrix.env }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                env:
                    - "3.13"
                    - "3.12"
                os:
                    - ubuntu-latest
                    - macos-latest
                    # - windows-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  fetch-depth: 0

            - name: Setup UV
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
              with:
                  activate-environment: true

            - name: Add .local/bin to Windows PATH
              if: runner.os == 'Windows'
              shell: bash
              run: echo "$USERPROFILE/.local/bin" >> $GITHUB_PATH

            - uses: ConorMacBride/install-package@v1
              with:
                  brew: libjpeg
                  apt: libjpeg

            - name: Install tox
              run:
                  uv tool install --python-preference only-managed --python 3.13
                  tox --with tox-uv

            - name: Setup Python
              if: matrix.env != '3.13'
              run:
                  uv python install --python-preference only-managed ${{
                  matrix.env }}

            - name: Setup Tests
              run: tox run -vv --notest --skip-missing-interpreters false
              env:
                  TOX_GH_MAJOR_MINOR: ${{ matrix.env }}

            - name: Run test suite
              run: tox run --skip-pkg-install
              env:
                  AOC_SESSION: ${{ secrets.AOC_SESSION }}
                  TOX_GH_MAJOR_MINOR: ${{ matrix.env }}

            - name: Rename reports
              if: success() || failure()
              run: >-
                  mv junit.xml "junit-${{ matrix.os }}-${{ matrix.env }}.xml" ;
                  mv ruff.json "ruff-${{ matrix.os }}-${{ matrix.env }}.json" ;
                  mv coverage.xml "coverage-${{ matrix.os }}-${{ matrix.env
                  }}.xml"

            - name: Upload JUnit results
              if: success() || failure()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
              with:
                  name: junit-${{ matrix.os }}-${{ matrix.env }}
                  path: |
                      coverage*.xml
                      junit-*.xml
                      ruff-*.json
                  retention-days: 1

            - name: Publish Test Report
              uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2
              if: success() || failure()
              with:
                  name: Tox Tests (${{ matrix.env }})
                  path: "junit-*.xml"
                  reporter: java-junit

    check_sonar_secret:
        name: check if SONAR_TOKEN is set in github secrets
        runs-on: ubuntu-latest
        outputs:
            is_SONAR_TOKEN_set:
                ${{ steps.checksecret_job.outputs.is_SONAR_TOKEN_set }}
        steps:
            - name: Check whether Sonar Scan should be done
              id: checksecret_job
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: |
                  echo "is_SONAR_TOKEN_set: ${{ env.SONAR_TOKEN != '' }}"
                  echo "is_SONAR_TOKEN_set=${{ env.SONAR_TOKEN != '' }}" >> $GITHUB_OUTPUT

    sonar:
        needs:
            - test
            - check_sonar_secret
        concurrency: release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  fetch-depth: 0

            - name: Obtain Project Version
              uses: SebRollen/toml-action@b1b3628f55fc3a28208d4203ada8b737e9687876 # v1.2.0
              id: proj-version
              with:
                  file: pyproject.toml
                  field: project.version

            - name: Cache SonarQube packages
              uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
              with:
                  path: ~/.sonar/cache
                  key: ${{ runner.os }}-sonar
                  restore-keys: ${{ runner.os }}-sonar

            - name: Download JUnit reports
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
              with:
                  path: .
                  merge-multiple: true
              env:
                  PARALLEL_DOWNLOADS: 1

            - name: SonarCloud Scan
              uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                  args: >
                      -Dsonar.projectVersion=${{
                      steps.proj-version.outputs.value }}

    release:
        needs: test
        concurrency: release
        permissions:
            id-token: write
            contents: write
        if:
            github.event_name == 'push' && github.ref == 'refs/heads/main' &&
            !contains(github.event.head_commit.message, 'chore(release):')
        runs-on: ubuntu-latest
        outputs:
            released: ${{ steps.release.outputs.released }}
        steps:
            # Note: we need to checkout the repository at the workflow sha in case during the workflow
            # the branch was updated. To keep PSR working with the configured release branches,
            # we force a checkout of the desired release branch but at the workflow sha HEAD.
            - name: Setup | Checkout Repository at workflow sha
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  fetch-depth: 0
                  ref: ${{ github.sha }}

            - name: Setup | Force correct release branch on workflow sha
              run: |
                  git checkout -B ${{ github.ref_name }} ${{ github.sha }}

            - name: Setup | Install UV
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
              with:
                  version: latest
                  enable-cache: true

            - name: Setup | Install Python
              run: uv python install

            - name: Action | Semantic Version Release
              id: release
              # Adjust tag with desired version if applicable.
              uses: python-semantic-release/python-semantic-release@350c48fcb3ffcdfd2e0a235206bc2ecea6b69df0 # v10.5.3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  git_committer_name: "github-actions"
                  git_committer_email: "actions@users.noreply.github.com"

            - name: Publish | Upload to GitHub Release Assets
              uses: python-semantic-release/publish-action@310a9983a0ae878b29f3aac778d7c77c1db27378 # v10.5.3
              if: steps.release.outputs.released == 'true'
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  tag: ${{ steps.release.outputs.tag }}

    docker-image:
        needs: release
        concurrency: release
        runs-on: ubuntu-latest
        if: needs.release.outputs.released == 'true'
        env:
            REGISTRY: ghcr.io
            IMAGE_NAME: ${{ github.repository }}

        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Log in to the container registry
              uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@ed95091677497158a9ff38b314264cd965388d5e
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            - name: Build and push Docker image
              id: push
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  context: .
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}

            - name: Generate artifact attestation
              uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
              with:
                  subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
                  subject-digest: ${{ steps.push.outputs.digest }}
                  push-to-registry: true
